cfg ../cfg/run_graph_tests.cfg
enable_ars 1
enable_ars_graph 1
enable_icp 1
enable_vfc 0
enable_hs 1
enable_g2o 1
batch 0
#in /home/rimlab/Datasets/LILocBench/with_gt/static_0/graph_100.txt
in /home/rimlab/Datasets/LILocBench/with_gt/static_0/graphs_batch/graph_3463.txt
in_dir /home/rimlab/Datasets/LILocBench/with_gt/static_0/graphs_batch/